/* style for googleMap componanta */

.apartment{
    margin-left:50%;
}

.mapStyle{
    width: 40%;
    height: 90%;
    position: absolute;
}

.infoSearch{
    width: 419%;
    margin-left: 0px
}



.marker {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 18px;
    height: 18px;
    background-color: #000;
    border: 2px solid #fff;
    border-radius: 100%;
    user-select: none;
    transform: translate(-50%, -50%);
}

.marker:hover {
    z-index: 1;
}

@media(max-width:570px) {
    .apartment{
      margin-left: 0%;
      margin-top: 47%;  
      width: 100%;
      position: absolute;
   
    }
    .mapStyle{
     width: 95%;
     height: 45%;
     position: absolute;
   
    }

    .infoSearch {
        width: 100%;
        margin-left: 0px;
    }
}